.card {
    background: #222222;
    height: auto;
    position: relative;
    max-width: 511.5px;
}

.card_hidden {
    display: none;
}

.card__container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 24px);
    margin: 0 auto;
    padding-top: 14px;
}

.card__about {
    display: inline;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 220px;
}

.toggle__select {
    width: 16px;
    height: 16px;
    padding: 0;
    border: none;
    background-image: url(../../images/ToggleBtn.svg);
    background-color: #222222;
    transition: background-image ease-in-out .4s;
    cursor: pointer;
}

.toggle__select_active {
    background-image: url(../../images/ToggleBtnActive.svg);
}

.toggle__select_delete {
    background-image: url(../../images/BtnDelete.svg);
    transition: transform ease-in-out .4s;
}

.toggle__select_delete:hover {
    transform: scale(1.2, 1.2);
}

.card__duration {
    font-size: 11px;
    line-height: 13px;
    color: #8B8B8B;
    margin: 0;
    padding-bottom: 14px;
    margin-left: 12px;
}

.card__image {
    display: block;
    width: 100%;
    height: 151px;
    object-fit: cover;
}

@media screen and (max-width: 909px){
    .card__image {
        height: 190px;
    }
}

@media screen and (max-width: 450px){
    .card__image {
        height: 168px;
    }
}