.movies {
    max-width: 1140px;
    width: calc(100% - 140px);
    margin: 0 auto;
    padding-top: 70px;
}

@media screen and (max-width: 1000px) {
    .movies {
        width: calc(100% - 60px);
        padding-top: 80px;
    }
}

@media screen and (max-width: 560px) {
    .movies {
        width: calc(100% - 20px);
        padding-top: 90px;
    }
}